language: python

script:
  - flake8 . --max-line-length = 120
deploy:
  provider: heroku
  api_key: 
    secure: 65638d4b-5aa8-4c15-a309-4dc88345388c
  app: less2
  on:
    repo: Almaz2/l2/less2
